<% include header.html %>

<div class="container">
  <div class="title">
      <h1>Result :</h1>
  </div>

   <div class="row">
    <h3> Total Income : <span><%= value.totalincome %></span> </h3>
    <h3> Total Expenses :<span><%= value.totalexpenses + "  "  %></span> <%= value.expensespent %> </h3>
    <h3>Surplus / Deficit(-): <span><%= value.remain %></span> <%= value.prec %></h3>
    <%for(var i=0; i<value.expenses.length; i++) { %>

       <div class="col-lg-4">
          <div class="box">
              <h3><%= value.expenses[i] %></h3>
              <h4>You spent : <%= value.spent[i] %></h4>

          </div>

       </div>

      <% } %>
   </div>

</div>






<% include footer.html %>